* {
    padding: unset;
    margin: unset;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

body,
html {
    height: 100%;
}


/*Inherit fonts for form controls*/
input,
button,
textarea,
select {
    font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

button {
    transition: .2s ease-in-out;
    cursor: pointer;
}

.active {
    background-color: rgb(89, 15, 112) !important;
    color: #fff;
}

.hidden{
    display: none;
   
}
header {
    text-align: center;
    padding: .5em;
    border-bottom: #2b2a2a solid 1px;

}

main {
    display: grid;
    grid-template-columns: .5fr 4fr;
    height: calc(100% - 70px);
}

aside {
    padding: .5em 1em;
    border-right: 1px solid #2b2a2a;
}

#task-container {
    padding: .5em 1em;
}

#sidebar-header,
#task-header {
    display: flex;
    justify-content: space-between;
}

#sidebar-header h2 {
    margin-right: 1em;
}

#create-project-btn {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    font-size: 1.5em;
    /*Center "+" */
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects-list {
    margin-top: 1em;

}

#projects-list li {
    list-style: none;
    margin-top: 1em;
}

.project-button {
    width: 100%;
    border: none;
    text-align: left;
    border-radius: 8px;
    background-color: transparent;
    padding: .2em 1em;
}

.project-button:hover {
    background-color: #f1f1f1;
}

dialog {
    margin: auto;
    padding: 1em;
}

dialog form {
    margin-top: 1em;
}

.modal-button-container {
    display: flex;
    justify-content: flex-end;
}

.modal-button-container button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    background-color: rgb(14, 4, 145);
    color: #fff;
}

.modal-button-container button:hover {
    background-color: rgb(12, 6, 100);
}

.info-label {
    color: rgb(161, 33, 33);
}

.submit-btn {
    margin-top: .5em;
    width: 100px;
}

/*Tasks*/

.task-list-item {
    list-style: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-left: 8px solid purple;
    border-radius: 10px;
    margin: 1em 0;

}

.task-main-section {
    padding-left: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 100px;
    align-items: center;
    min-height: 50px;

}

.task-name-group {
    display: flex;
}

.toggle-task-status-btn {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: none;
    margin-right: .5em;
    background-color: transparent;
    border: 2px solid #2b2a2a;
}
.checked{
    background-color: #12b04a;
    border: none;
}
.toggle-task-status-btn:hover {
    border: 2px solid #12b04a;
}

.details-btn {
    margin-right: 1em;
}

.task-sub-section{
    display: flex;
    padding: 1em 2em;
    gap: 2em;
    display: none;
    border-top:#2b2a2a 1px solid;
}

.task-sub-section ul{
    list-style: none;
}

.task-description{
    max-width: 400px;
}
